@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap');
@import url('./_colours.scss');

$antonio-medium :  'Antonio', sans-serif;
$spartan : 'League Spartan', sans-serif;

h1 {
    font-family: $antonio-medium;
    font-size: 80px;
    line-height: 103px;
    color: $primaryText
}

h2 {
    font-family: $antonio-medium;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: -1.5px;
}

h3 {
    font-family: $spartan;
    font-weight: bold;
    font-size: 12px;
    line-height: 25px;
    letter-spacing: 2.6px;
}

h4 {
    font-family: $spartan;
    font-weight: bold;
    font-size: 11px;
    line-height: 25px;
    letter-spacing: 1px;
}

body {
    font-family: $spartan;
    font-weight: 400; //Regular
    font-size: 14px;
    line-height: 25px;
}