/* Primary Text Colour */
/* Background Colour */
/* Planet Colours */
@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;700&display=swap");
@import url("./_colours.scss");
:export {
  primaryText: #FFFFFF;
  background: #070724;
  mercury: #419EBB;
  venus: #EDA249;
  earth: #6D2ED5;
  mars: #D14C32;
  jupiter: #D83A34;
  saturn: #CD5120;
  uranus: #1EC1A2;
  neptune: #2D68F0;
}

h1 {
  font-family: "Antonio", sans-serif;
  font-weight: 500;
  font-size: 80px;
  line-height: 103px;
  color: #FFFFFF;
}

h2, .nav-container .nav-title {
  font-family: "Antonio", sans-serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 52px;
  letter-spacing: -1.5px;
}

h3 {
  font-family: "League Spartan", sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: 25px;
  letter-spacing: 2.6px;
}

h4 {
  font-family: "League Spartan", sans-serif;
  font-weight: bold;
  font-size: 11px;
  line-height: 25px;
  letter-spacing: 1px;
}

body, .navbar li {
  font-family: "League Spartan", sans-serif;
  font-weight: light;
  font-size: 16px;
  line-height: 25px;
}

.app {
  background-color: #070724;
  background-image: url("../../public/assets/background-stars.svg");
  overflow: auto;
}

.navbar-collapse {
  display: none;
}

.top-button-container {
  display: none;
}

.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  min-height: 85px;
  max-height: 85px;
}

.nav-container .nav-title {
  font-weight: 400;
  font-size: 28px;
  line-height: 30px;
  letter-spacing: -1.05px;
  color: #FFFFFF;
  padding-top: 22px;
  padding-left: 32px;
  padding-bottom: 27px;
}

.nav-container .toggle-icon {
  display: none;
}

@media screen and (max-width: 768px) {
  .nav-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 27px;
    min-height: none;
    max-height: none;
  }
  .nav-container .nav-title {
    padding-top: 32px;
    padding-bottom: 0;
    text-align: center;
  }
  .nav-container .navbar {
    height: 100%;
    min-height: none;
    max-height: none;
  }
}

@media screen and (max-width: 375px) {
  .nav-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-color: #070724;
    margin: 0px;
  }
  .nav-container .nav-title {
    padding-top: 16px;
    padding-left: 24px;
    padding-bottom: 17px;
    line-height: 52px;
  }
  .nav-container .navbar {
    display: none;
  }
  .nav-container .navbar-collapse {
    display: none;
  }
  .nav-container .toggle-icon {
    display: block;
    min-width: 24px;
    min-height: 17px;
    border: none;
    opacity: 0.25;
    padding-right: 24px;
  }
}

@media screen and (max-width: 768px) {
  .navbar-shown {
    display: none;
  }
}

@media screen and (max-width: 375px) {
  .top-button-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 44px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .top-button-container .buttons {
    padding: 0;
    min-width: 80px;
    max-width: 80px;
    min-height: 47px;
    max-height: 47px;
  }
  .top-button-container .buttons .button-text {
    width: 80px;
  }
  .navbar-shown {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    background-color: #070724;
    width: 100vw;
    margin: 0;
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 67px;
  }
  li {
    padding-bottom: 20px;
    padding-top: 20px;
    font-family: "League Spartan", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    /* identical to box height, or 167% */
    letter-spacing: 1.36364px;
    text-transform: uppercase;
  }
}

.navbar {
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0px;
  padding-right: 40px;
  margin: 0;
  height: 100%;
  min-height: 85px;
  max-height: 85px;
}

.navbar li {
  font-weight: 700;
  font-style: normal;
  font-size: 11px;
  letter-spacing: 1px;
  display: inline;
  text-transform: uppercase;
}

.navbar ul {
  height: 100%;
  list-style-type: none;
}

.navbar #mercury-link:hover {
  border-bottom: 4px solid #419EBB;
}

.navbar #venus-link:hover {
  border-bottom: 4px solid #EDA249;
}

.navbar #earth-link:hover {
  border-bottom: 4px solid #6D2ED5;
}

.navbar #mars-link:hover {
  border-bottom: 4px solid #D14C32;
}

.navbar #jupiter-link:hover {
  border-bottom: 4px solid #D83A34;
}

.navbar #saturn-link:hover {
  border-bottom: 4px solid #CD5120;
}

.navbar #uranus-link:hover {
  border-bottom: 4px solid #1EC1A2;
}

.navbar #neptune-link:hover {
  border-bottom: 4px solid #2D68F0;
}

.mainContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #FFFFFF;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 0px;
  padding-bottom: 0px;
}

.mainContainer .image-panel {
  max-width: 65vw;
  margin-left: 10vw;
  margin-top: 9vh;
  margin-right: 11vw;
  -ms-flex-negative: 3;
      flex-shrink: 3;
}

.mainContainer .image-panel .overlay {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

.mainContainer .image-panel img {
  display: block;
  max-width: 100%;
  height: auto;
}

.mainContainer .info-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
}

.mainContainer .info-panel .title {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 15vh;
}

.mainContainer .info-panel .content {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 5vh;
  max-width: 25vw;
  max-height: 53vh;
  min-height: 25vh;
}

.mainContainer .info-panel .button-container {
  max-width: 25vw;
  max-height: 53vh;
}

.mainContainer .stats-panel {
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 50px;
  padding-top: 0px;
}

.mainContainer .stats-panel .info-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #FFFFFF;
  padding: 5px;
  padding-left: 25px;
  padding-right: 100px;
}

.mainContainer .stats-panel .info-card .attribute {
  font: "League Spartan", sans-serif;
  font-size: 11px;
  letter-spacing: 1px;
  font-weight: bold;
  opacity: 0.5;
}

.mainContainer .stats-panel .info-card .data {
  line-height: 0px;
}

@media screen and (max-width: 768px) {
  .mainContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mainContainer .image-panel {
    min-height: 422px;
    min-width: 422px;
  }
  .mainContainer .image-panel img {
    width: 369px;
    height: 369px;
    -o-object-fit: fill;
       object-fit: fill;
  }
  .mainContainer .stats-panel {
    -webkit-box-pack: normal;
        -ms-flex-pack: normal;
            justify-content: normal;
    padding: 40px;
    gap: 11px;
    padding-top: 0px;
  }
  .mainContainer .stats-panel .info-card {
    padding: 0px;
    min-width: 164px;
    min-height: 88px;
  }
  .mainContainer .stats-panel .info-card .attribute {
    font-size: 8px;
    line-height: 16px;
    letter-spacing: 0.73px;
    padding-bottom: 6px;
    padding-top: 16px;
    padding-left: 15px;
  }
  .mainContainer .stats-panel .info-card .data {
    font-size: 24px;
    width: 100%;
    padding-left: 15px;
    padding-bottom: 16px;
  }
  .mainContainer .info-panel {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 40px;
    padding-top: 11px;
    padding-bottom: 27px;
    gap: 69px;
    min-width: 689px;
    min-height: 253px;
  }
  .mainContainer .info-panel .content-container {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
  }
  .mainContainer .info-panel .content-container .title {
    font-size: 48px;
    line-height: 0px;
    padding-bottom: 24px;
  }
  .mainContainer .info-panel .content-container .content {
    width: 100%;
    font-size: 11px;
    line-height: 22px;
  }
  .mainContainer .info-panel .button-container {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 16px;
  }
  .mainContainer .info-panel .button-container .buttons {
    min-width: 281px;
    min-height: 40px;
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 14px;
    padding-top: 8px;
    padding-bottom: 7px;
  }
  .mainContainer .info-panel .button-container .button-number {
    padding-left: 20px;
    text-align: center;
    font-family: "League Spartan", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 9px;
    line-height: 25px;
    /* identical to box height, or 278% */
    letter-spacing: 1.92857px;
    text-transform: uppercase;
  }
  .mainContainer .info-panel .button-container .button-text {
    text-align: center;
    font-family: "League Spartan", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 9px;
    line-height: 25px;
    /* identical to box height, or 278% */
    letter-spacing: 1.92857px;
    text-transform: uppercase;
  }
  .mainContainer .info-panel .button-container #mercury-button:hover {
    border-color: rgba(65, 158, 187, 0.2);
    background-color: rgba(65, 158, 187, 0.1);
  }
  .mainContainer .info-panel .button-container #venus-button:hover {
    border-color: rgba(237, 162, 73, 0.2);
    background-color: rgba(237, 162, 73, 0.1);
  }
  .mainContainer .info-panel .button-container #earth-button:hover {
    border-color: rgba(109, 46, 213, 0.2);
    background-color: rgba(109, 46, 213, 0.1);
  }
  .mainContainer .info-panel .button-container #mars-button:hover {
    border-color: rgba(209, 76, 50, 0.2);
    background-color: rgba(209, 76, 50, 0.1);
  }
  .mainContainer .info-panel .button-container #jupiter-button:hover {
    border-color: rgba(216, 58, 52, 0.2);
    background-color: rgba(216, 58, 52, 0.1);
  }
  .mainContainer .info-panel .button-container #saturn-button:hover {
    border-color: rgba(205, 81, 32, 0.2);
    background-color: rgba(205, 81, 32, 0.1);
  }
  .mainContainer .info-panel .button-container #uranus-button:hover {
    border-color: rgba(30, 193, 162, 0.2);
    background-color: rgba(30, 193, 162, 0.1);
  }
  .mainContainer .info-panel .button-container #neptune-button:hover {
    border-color: rgba(45, 104, 240, 0.2);
    background-color: rgba(45, 104, 240, 0.1);
  }
}

@media screen and (max-width: 375px) {
  .mainContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .mainContainer .image-panel {
    max-width: 256px;
    max-height: 256px;
    min-width: 256px;
    min-height: 256px;
    -o-object-fit: scale-down;
       object-fit: scale-down;
    padding-top: 39px;
    padding-right: 61px;
    padding-left: 58px;
    padding-bottom: 24px;
  }
  .mainContainer .image-panel .the-image {
    height: 100%;
    width: 100%;
  }
  .mainContainer .info-panel {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-width: 325px;
    padding: 0;
    gap: 0;
  }
  .mainContainer .info-panel .content-container {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .mainContainer .info-panel .content-container .title {
    width: 100%;
    text-align: center;
    padding: 0;
    font-family: "Antonio", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    /* identical to box height */
    text-transform: uppercase;
  }
  .mainContainer .info-panel .content-container .content {
    width: 325px;
    font-family: "League Spartan", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 22px;
    /* or 200% */
    text-align: center;
  }
  .mainContainer .info-panel .button-container {
    display: none;
  }
  .mainContainer .stats-panel {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 28px;
    padding-bottom: 47px;
    max-width: 327px;
    padding-right: 24px;
    padding-left: 24px;
    gap: 8px;
  }
  .mainContainer .stats-panel .info-card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    min-height: 48px;
    min-width: 327px;
    max-height: 48px;
    max-width: 327px;
    border-color: rgba(255, 255, 255, 0.2);
  }
  .mainContainer .stats-panel .info-card .attribute {
    padding: 0;
    padding-left: 24px;
    padding-top: 16px;
    text-align: left;
  }
  .mainContainer .stats-panel .info-card .data {
    padding: 0;
    padding-right: 24px;
    text-align: right;
  }
}

button {
  min-width: 350px;
  min-height: 48px;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
}

.links {
  text-decoration: none;
  margin-left: 33px;
  color: #FFFFFF;
  opacity: 0.75;
}
/*# sourceMappingURL=style.css.map */