/* Primary Text Colour */
/* Background Colour */
/* Planet Colours */
@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;700&display=swap");
@import url("./_colours.scss");
h1 {
  font-family: "Antonio", sans-serif;
  font-weight: 500;
  font-size: 80px;
  line-height: 103px;
  color: #FFFFFF;
}

h2, .nav-container .nav-title {
  font-family: "Antonio", sans-serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 52px;
  letter-spacing: -1.5px;
}

h3 {
  font-family: "League Spartan", sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: 25px;
  letter-spacing: 2.6px;
}

h4 {
  font-family: "League Spartan", sans-serif;
  font-weight: bold;
  font-size: 11px;
  line-height: 25px;
  letter-spacing: 1px;
}

body, .navbar li {
  font-family: "League Spartan", sans-serif;
  font-weight: light;
  font-size: 16px;
  line-height: 25px;
}

.app {
  background-color: #070724;
  background-image: url("../../public/assets/background-stars.svg");
  overflow: auto;
}

.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-container .nav-title {
  font-weight: 400;
  font-size: 28px;
  line-height: 30px;
  letter-spacing: -1.05px;
  color: #FFFFFF;
}

@media screen and (max-width: 768px) {
  .nav-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav-container .nav-title {
    text-align: center;
  }
}

.navbar {
  color: #FFFFFF;
  height: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0px;
}

.navbar li {
  font-weight: 700;
  font-style: normal;
  font-size: 11px;
  letter-spacing: 1px;
  display: inline;
  text-transform: uppercase;
}

.navbar ul {
  height: 100%;
  margin-top: 0;
  list-style-type: none;
}

.navbar #mercury-link:hover {
  border-top: 3px solid #419EBB;
}

.navbar #venus-link:hover {
  border-top: 3px solid #EDA249;
}

.navbar #earth-link:hover {
  border-top: 3px solid #6D2ED5;
}

.navbar #mars-link:hover {
  border-top: 3px solid #D14C32;
}

.navbar #jupiter-link:hover {
  border-top: 3px solid #D83A34;
}

.navbar #saturn-link:hover {
  border-top: 3px solid #CD5120;
}

.navbar #uranus-link:hover {
  border-top: 3px solid #1EC1A2;
}

.navbar #neptune-link:hover {
  border-top: 3px solid #2D68F0;
}

.mainContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #FFFFFF;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 0px;
  padding-bottom: 0px;
}

.mainContainer .image-panel {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  min-width: 668px;
  min-height: 668px;
}

.mainContainer .image-panel .overlay {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

.mainContainer img {
  -o-object-fit: none;
     object-fit: none;
}

.mainContainer .info-panel {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
}

.mainContainer .info-panel .title {
  width: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mainContainer .info-panel .content {
  width: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mainContainer .stats-panel {
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 50px;
  padding-top: 0px;
}

.mainContainer .stats-panel .info-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #FFFFFF;
  padding: 5px;
  padding-left: 25px;
  padding-right: 100px;
}

.mainContainer .stats-panel .info-card .attribute {
  font: "League Spartan", sans-serif;
  font-size: 11px;
  letter-spacing: 1px;
  font-weight: bold;
  opacity: 0.5;
}

.mainContainer .stats-panel .info-card .data {
  line-height: 0px;
}

@media screen and (max-width: 768px) {
  .mainContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mainContainer .info-panel {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 40px;
  }
  .mainContainer .info-panel .content-container {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
  }
  .mainContainer .info-panel .content-container .content {
    width: 90%;
  }
  .mainContainer .info-panel .button-container {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
  }
  .mainContainer .info-panel .button-container .buttons {
    min-width: 281px;
    min-height: 40px;
  }
  .mainContainer .stats-panel {
    -webkit-box-flex: 30%;
        -ms-flex: 30%;
            flex: 30%;
  }
}

button {
  min-width: 350px;
  min-height: 48px;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
}

.links {
  text-decoration: none;
  margin-left: 33px;
  color: #FFFFFF;
  opacity: 0.75;
}
/*# sourceMappingURL=style.css.map */