@import './colours';
@import './fonts';

.app {
    background-color: $background;
    background-image: url('../../public/assets/background-stars.svg');
    overflow: auto;
}

@mixin link-hover ($colour){
    border-bottom: 4px solid $colour;
}

@mixin button-hover ($colour){
    border-color: rgba($colour, 0.2);
    background-color: rgba($colour, 0.1);
}

.navbar-collapse {
    display: none;
}

.top-button-container {
    display: none;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(white, 0.2);

    min-height: 85px;
    max-height: 85px;

    .nav-title {
        @extend h2;
        // padding-right: 50%;
        font-weight: 400;
        font-size: 28px;
        line-height: 30px;
        letter-spacing: -1.05px;
        color: $primaryText;
        padding-top: 22px;
        padding-left: 32px;
        padding-bottom: 27px;
    }

    .toggle-icon {
        display: none
    }

    @media screen and (max-width: 768px) {
        flex-direction: column;
        margin-bottom: 27px;
        
        min-height: none;
        max-height: none;
    

        .nav-title {
            padding-top: 32px;
            padding-bottom: 0;
            text-align: center;
        }
        
        .navbar {
            height: 100%;

            min-height: none;
            max-height: none;


        }
    }   

    @media screen and (max-width: 375px) {
        flex-direction: row;
        background-color: $background;
        margin: 0px;
        
        .nav-title {
            padding-top: 16px;
            padding-left: 24px;
            padding-bottom: 17px;
            line-height: 52px;
        }

        // Change to 'navbar-hidden'
        .navbar {
            display: none;
        }

        .navbar-collapse {
            display: none;
        }

        .toggle-icon {
            display: block;
            min-width: 24px;
            min-height: 17px;
            border: none;
            opacity: 0.25;
            padding-right: 24px;
        }

    }

}

@media screen and (max-width: 768px) {
    .navbar-shown {
        display: none;
    }
}

@media screen and (max-width: 375px) {

    .top-button-container {
        display: flex;
        gap: 44px;
        justify-content: center;

        .buttons {
            padding: 0;
            min-width: 80px;
            max-width: 80px;

            min-height: 47px;
            max-height: 47px;

            .button-text {
                width: 80px;
            }
        }
    }

    .navbar-shown {
        display: flex;
        position: absolute;
        flex-direction: column;
        flex-wrap: wrap;
        background-color: $background;
        width: 100vw;


        margin: 0;
        padding-top: 24px;
        padding-left: 24px;
        padding-right: 24px;
        padding-bottom: 67px;
    }

    li {
        padding-bottom: 20px;
        padding-top: 20px;

        font-family: $spartan;
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 25px;
        /* identical to box height, or 167% */
        letter-spacing: 1.36364px;
        text-transform: uppercase;
    }
}

.navbar {
    color: $primaryText;
    display: flex;
    align-items: center;
    margin-top: 0px;

    padding-right: 40px;
    margin: 0;
    height: 100%;
    min-height: 85px;
    max-height: 85px;

    li {
        @extend body;
        font-weight: 700;
        font-style: normal;
        font-size: 11px;
        letter-spacing: 1px;
        display: inline;
        text-transform: uppercase;
    }

    ul {
        height: 100%;
        list-style-type: none;
    }

    #mercury-link {
        &:hover {
            @include link-hover($mercury)
        }
    }

    #venus-link {
        &:hover {
            @include link-hover($venus)
        }
    }

    #earth-link {
        &:hover {
            @include link-hover($earth)
        }
    }

    #mars-link {
        &:hover {
            @include link-hover($mars)
        }
    }

    #jupiter-link {
        &:hover {
            @include link-hover($jupiter)
        }
    }

    #saturn-link {
        &:hover {
            @include link-hover($saturn)
        }
    }

    #uranus-link {
        &:hover {
            @include link-hover($uranus)
        }
    }
    
    #neptune-link {
        &:hover {
            @include link-hover($neptune)
        }
    }

}

.mainContainer {
    display: flex;
    flex-direction: row;
    color: $primaryText;
    flex-wrap: wrap;
    padding-top: 0px;
    padding-bottom: 0px;


    .image-panel {
        max-width: 65vw;

        margin-left: 10vw;
        margin-top: 9vh;
        margin-right: 11vw;

        flex-shrink: 3;

        .overlay {
            position: relative;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: 100%;
            width: 100%;
        }

        img {
            display: block;
            max-width: 100%;
            height: auto;
        }
    }

    .info-panel {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: left;


        .title {
            align-items: center;
            justify-content: center;
            line-height: 15vh;
        }

        .content {
            align-items: center;
            justify-content: center;
            padding-bottom: 5vh;

            max-width: 25vw;
            max-height: 53vh;
            min-height: 25vh;
        }

        .button-container {
            max-width: 25vw;
            max-height: 53vh;
        }

    }

    .stats-panel {
        flex: 100%;
        display: flex;
        justify-content: space-around;
        padding: 50px;
        padding-top: 0px;

        margin-top: 5vh;
        gap: 2vw;

        .info-card {
            display: flex;
            flex-direction: column;
            border: 1px solid $primaryText;
            padding: 5px;
            padding-left: 25px;
            padding-right: 100px;

            max-width: 9vw;

            .attribute {
                font: $spartan;
                font-size: 11px;
                letter-spacing: 1px;
                font-weight: bold;
                opacity: 0.5;
            }

            .data {
                margin: 0;
            }
            
        }
    }

    @media screen and (max-width: 768px) {
        flex-direction: column;

        .image-panel {
            min-height: 422px;
            min-width: 422px;

            img {
                width:369px;
                height: 369px;
                object-fit: fill;
            }
        }

        .stats-panel {
            justify-content: normal;
            padding: 40px;
            gap: 11px;
            padding-top: 0px;

            .info-card {
                padding: 0px;
                min-width: 164px;
                min-height: 88px;

                .attribute {
                    font-size: 8px;
                    line-height: 16px;
                    letter-spacing: 0.73px;
                    padding-bottom: 6px;
                    padding-top: 16px;
                    padding-left: 15px;
                }

                .data {
                  font-size: 24px;
                  width: 100%;
                  padding-left: 15px;
                  padding-bottom: 16px;
                }
            }
        }

        .info-panel {
            flex: 50%;
            display: flex;
            flex-direction: row;
            padding: 40px;
            padding-top: 11px;
            padding-bottom: 27px;
            gap: 69px;
            min-width: 689px;
            min-height: 253px;

            .content-container {
                flex: 50%;

                .title {
                    font-size: 48px;
                    line-height: 0px;
                    padding-bottom: 24px;
                }

                .content {
                    width: 100%;
                    font-size: 11px;
                    line-height: 22px;
                }
            }

            .button-container {
                flex: 50%;
                display: flex;
                flex-direction: column;
                gap: 16px;


                
                .buttons {
                    min-width: 281px;
                    min-height: 40px;
                    text-align: left;
                    display: flex;
                    gap: 14px;
                    padding-top: 8px;
                    padding-bottom: 7px;
                }

                .button-number {
                    padding-left: 20px;
                    text-align: center;

                    font-family: $spartan;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 9px;
                    line-height: 25px;
                    /* identical to box height, or 278% */

                    letter-spacing: 1.92857px;
                    text-transform: uppercase;
                }

                .button-text {
                    text-align: center;
                    font-family: $spartan;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 9px;
                    line-height: 25px;
                    /* identical to box height, or 278% */

                    letter-spacing: 1.92857px;
                    text-transform: uppercase;
                }

                #mercury-button {
                    &:hover {
                        @include button-hover($mercury)
                    }
                }
            
                #venus-button {
                    &:hover {
                        @include button-hover($venus)
                    }
                }
            
                #earth-button {
                    &:hover {
                        @include button-hover($earth)
                    }
                }
            
                #mars-button {
                    &:hover {
                        @include button-hover($mars)
                    }
                }
            
                #jupiter-button {
                    &:hover {
                        @include button-hover($jupiter)
                    }
                }
            
                #saturn-button {
                    &:hover {
                        @include button-hover($saturn)
                    }
                }
            
                #uranus-button {
                    &:hover {
                        @include button-hover($uranus)
                    }
                }
                
                #neptune-button {
                    &:hover {
                        @include button-hover($neptune)
                    }
                }
            }
        }

    }

    @media screen and (max-width: 375px) {
        display: flex;
        flex-direction: row;

        .image-panel {
            max-width: 256px;
            max-height: 256px;
            min-width: 256px;
            min-height: 256px;
            object-fit: scale-down;

            padding-top: 39px;
            padding-right: 61px;
            padding-left: 58px;
            padding-bottom: 24px;

            .the-image {
                height: 100%;
                width: 100%;
            }
        }
        
        .info-panel {
            flex-direction: column;
            min-width: 325px;
            padding: 0;
            gap: 0;

            .content-container {
                .title {
                    width: 100%;
                    text-align: center;
                    padding: 0;

                    font-family: $antonio-medium;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 40px;
                    line-height: 52px;
                    /* identical to box height */
                    text-transform: uppercase;
                }

                .content {
                    width: 325px;

                    font-family: $spartan;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 11px;
                    line-height: 22px;
                    /* or 200% */

                    text-align: center;
                }
                order: 2;
            }

            .button-container {
                display: none;
            }
        }

        .stats-panel {
            flex-direction: column;
            padding-top: 28px;
            padding-bottom: 47px;
            max-width: 327px;
            padding-right: 24px;
            padding-left: 24px;
            gap: 8px;

            .info-card {
                flex-direction: row;
                min-height: 48px;
                min-width: 327px;
                max-height: 48px;
                max-width: 327px;
                border-color: rgba(white, 0.2);

                .attribute {
                    padding: 0;
                    padding-left: 24px;
                    padding-top: 16px;
                    text-align: left;
                }

                .data {
                    padding: 0;
                    padding-right: 24px;
                    text-align: right;
                }

            }
        }
    }

}

button {
    min-width: 350px;
    min-height: 48px;
    background-color: transparent;
    border: 1px solid $primaryText;
    color: $primaryText;
}

.links {
    text-decoration: none;
    margin-left: 33px;
    color: $primaryText;
    opacity: 0.75;
}