@import './colours';
@import './fonts';

.app {
    background-color: $background;
    background-image: url('../../public/assets/background-stars.svg');
    overflow: auto;
}

@mixin link-hover ($colour){
    border-top: 3px solid $colour;
}

.nav-container {
    display: flex;
    justify-content: space-between;

    .nav-title {
        @extend h2;
        // padding-right: 50%;
        font-weight: 400;
        font-size: 28px;
        line-height: 30px;
        letter-spacing: -1.05px;
        color: $primaryText
    }


    @media screen and (max-width: 768px) {
        flex-direction: column;

        .nav-title {
            text-align: center;
        }
    }   

}


.navbar {
    color: $primaryText;
    height: 5em;
    display: flex;
    align-items: center;
    margin-top: 0px;

    li {
        @extend body;
        font-weight: 700;
        font-style: normal;
        font-size: 11px;
        letter-spacing: 1px;
        display: inline;
        text-transform: uppercase;

        
    }

    ul {
        height: 100%;
        margin-top: 0;
        list-style-type: none;
    }

    #mercury-link {
        &:hover {
            @include link-hover($mercury)
        }
    }

    #venus-link {
        &:hover {
            @include link-hover($venus)
        }
    }

    #earth-link {
        &:hover {
            @include link-hover($earth)
        }
    }

    #mars-link {
        &:hover {
            @include link-hover($mars)
        }
    }

    #jupiter-link {
        &:hover {
            @include link-hover($jupiter)
        }
    }

    #saturn-link {
        &:hover {
            @include link-hover($saturn)
        }
    }

    #uranus-link {
        &:hover {
            @include link-hover($uranus)
        }
    }
    
    #neptune-link {
        &:hover {
            @include link-hover($neptune)
        }
    }

}

.mainContainer {
    display: flex;
    flex-direction: row;
    color: $primaryText;
    flex-wrap: wrap;
    padding-top: 0px;
    padding-bottom: 0px;

    .image-panel {
        flex: 50%;
        display: flex;
        justify-content: center;
        align-content: center;
        min-width: 668px;
        min-height: 668px;


        .image {

        }

        .overlay {
            position: relative;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: 100%;
            width: 100%;
        }
    }

    img {
        object-fit: none;
    }

    .info-panel {
        flex: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: left;

        .title {
            width: 50%;
            align-items: center;
            justify-content: center;
        }

        .content {
            width: 50%;
            align-items: center;
            justify-content: center;
        }

    }

    .stats-panel {
        flex: 100%;
        display: flex;
        justify-content: space-around;
        padding: 50px;
        padding-top: 0px;

        .info-card {
            display: flex;
            flex-direction: column;
            border: 1px solid $primaryText;
            padding: 5px;
            padding-left: 25px;
            padding-right: 100px;

            .attribute {
                font: $spartan;
                font-size: 11px;
                letter-spacing: 1px;
                font-weight: bold;
                opacity: 0.5;
            }

            .data {
                line-height: 0px;
            }
        }
    }

    @media screen and (max-width: 768px) {
        flex-direction: column;


        .info-panel {
            flex: 50%;
            display: flex;
            flex-direction: row;
            padding: 40px;
            
            .content-container {
                flex: 50%;

                .content {
                    width: 90%;
                }
            }

            .button-container {
                flex: 50%;

                .buttons {
                    min-width: 281px;
                    min-height: 40px;
                }
            }
        }

        .stats-panel {
            flex: 30%;
        }
    }

}

button {
    min-width: 350px;
    min-height: 48px;
    background-color: transparent;
    border: 1px solid $primaryText;
    color: $primaryText;
}

.links {
    text-decoration: none;
    margin-left: 33px;
    color: $primaryText;
    opacity: 0.75;
}