/* Primary Text Colour */
/* Background Colour */
/* Planet Colours */
@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap");
@import url("./_colours.scss");
h1 {
  font-family: "Antonio", sans-serif;
  font-size: 80px;
  line-height: 103px;
  color: #FFFFFF;
}

h2, .navbar .nav-title {
  font-family: "Antonio", sans-serif;
  font-size: 40px;
  line-height: 52px;
  letter-spacing: -1.5px;
}

h3 {
  font-family: "League Spartan", sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: 25px;
  letter-spacing: 2.6px;
}

h4 {
  font-family: "League Spartan", sans-serif;
  font-weight: bold;
  font-size: 11px;
  line-height: 25px;
  letter-spacing: 1px;
}

body, .navbar li {
  font-family: "League Spartan", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
}

.app {
  background-color: #070724;
  background-image: url("../../starting-code/assets/background-stars.svg");
}

.navbar {
  color: #FFFFFF;
  height: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .nav-title {
  font-weight: 400;
  font-size: 28px;
  line-height: 30px;
  letter-spacing: -1.05px;
  padding-right: 500px;
}

.navbar li {
  font-weight: 700;
  font-style: normal;
  font-size: 11px;
  letter-spacing: 1px;
  display: inline;
  text-transform: uppercase;
  padding-left: 20px;
}

.navbar li a {
  text-decoration: none;
  padding: 5px;
  color: #FFFFFF;
}

.navbar ul {
  height: 100%;
  padding: 20px;
  margin-top: 0;
  list-style-type: none;
}

.navbar #mercury-link:hover {
  border-top: 3px solid #419EBB;
}

.navbar #venus-link:hover {
  border-top: 3px solid #EDA249;
}

.navbar #earth-link:hover {
  border-top: 3px solid #6D2ED5;
}

.navbar #mars-link:hover {
  border-top: 3px solid #D14C32;
}

.navbar #jupiter-link:hover {
  border-top: 3px solid #D83A34;
}

.navbar #saturn-link:hover {
  border-top: 3px solid #CD5120;
}

.navbar #uranus-link:hover {
  border-top: 3px solid #1EC1A2;
}

.navbar #neptune-link:hover {
  border-top: 3px solid #2D68F0;
}

.mainContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #FFFFFF;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.mainContainer .image-panel {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
}

.mainContainer .info-panel {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
}

.mainContainer .stats-panel {
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
}

@media (max-width: 768px) {
  .mainContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mainContainer .image-panel {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
  }
  .mainContainer .info-panel {
    -webkit-box-flex: 25%;
        -ms-flex: 25%;
            flex: 25%;
  }
  .mainContainer .stats-panel {
    -webkit-box-flex: 25%;
        -ms-flex: 25%;
            flex: 25%;
  }
}
/*# sourceMappingURL=style.css.map */